{% extends 'blog/fragments/base.html' %}
{% block title %} GhNewsHub | Enter New Password {% endblock %}

{% block content %}
<div id="preloader">
  <div id="status">&nbsp;</div>
</div>
<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
<div class="container">

{% include 'blog/fragments/login-logout-nav.html' %}

  <section>
      <div class="col-lg-12 col-md-12 col-sm-12">
       <div class="left_content">
        <div class="single_page">
            <ol class="breadcrumb">
              <li><a href="{% url 'blog:index' %}">Home</a></li>
              <li><a>Confirm Password Reset</a></li>
            </ol>
            <div class="col-lg-12 col-md-12 col-sm-12 contact_area">
            <div class="col-sm-12">
           <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
                {% if validlink %}
				<form class="login100-form validate-form" method="post">
                    {% csrf_token %}
                  <br/><br/><br/>
					<div><p><span class="login100-form-title p-b-43">
						Provide your new password to continue
					</span>
                    </p>
                    </div>
                    {% if form.errors %}
                            <div class="alert alert-danger alert-dismissible">
							<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							Your passwords must match
                            </div>
                 {% endif %}
                    <div id="pwd-val-msg" class="col-sm-12">
                      <h3 class="text-info">Password must contain the following:</h3>
                      <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                      <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
                      <p id="number" class="invalid">A <b>number</b></p>
                      <p id="length" class="invalid">Minimum <b>8 characters</b></p>
                     </div>
					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<input class="input100" type="password" name="new_password1" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" id="pwd"/>
						<span class="focus-input100"></span>
						<span class="label-input100">Password</span>
					</div>
                    <div class="wrap-input100 validate-input" data-validate="Confirm your password">
						<input class="input100" type="password" name="new_password2" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"/>
						<span class="focus-input100"></span>
						<span class="label-input100">Confirm Password</span>
					</div>
					<div class="flex-sb-m w-full p-t-3 p-b-32">
						<div>
							<a href="{% url 'login' %}" class="txt1">
								Go back to login
							</a>
						</div>
					</div>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Continue
						</button>
					</div>
				</form>
                {% else %}
                <p>
                  The password reset link was invalid, possibly because it has already been used.
                  Please request a new password reset.
                </p>
              {% endif %}
				<div class="login100-more img-rounded" style="background-image: url('/media/images/bg-01.jpg');"></div>
			</div>
		</div>
	      </div>
           </div>
          </div>
        </div>
      </div>
      </div>
  </section>
  </div>
  <div></div>

{% include 'blog/fragments/footer.html' %}
{% endblock %}
