{% extends 'crowdusers/fragments/base-index.html' %}
{% block title %} GhNewsHub | Reset Password {% endblock %}

{% block content %}
<div id="preloader">
  <div id="status">&nbsp;</div>
</div>
<div class="container">

{% comment %}{% include 'blog/fragments/login-logout-nav.html' %}{% endcomment %}

  <section>
      <div class="col-lg-12 col-md-12 col-sm-12">
       <div class="left_content">
        <div class="single_page">
            <ol class="breadcrumb">
              <li><a href="{% url 'crowdusers:index' %}">Home &nbsp;</a></li>
              <li><a>Password Reset</a></li>
            </ol>
            <div class="col-lg-12 col-md-12 col-sm-12 contact_area">
            <div class="col-sm-12">
           <div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method="post" action="{% url 'send_password_reset_email' %}">
                    {% csrf_token %}
                  <br/>
					<div><p><span class="login100-form-title p-b-43">
						Enter email to continue
					</span>
                    </p>
                    </div>
                     {% include 'crowdusers/fragments/messages.html' %}
					<div class="wrap-input100 validate-input" data-validate="Email is required">
						<input class="input100" type="email" name="email"/>
						<span class="focus-input100"></span>
						<span class="label-input100">Email</span>
					</div>
					<div class="flex-sb-m w-full p-t-3 p-b-32">
						<div>
							<a href="{% url 'login' %}" class="txt1">
								Go back to login
							</a>
						</div>
					</div>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Continue
						</button>
					</div>
				</form>
				<div class="login100-more img-rounded" style="background-image: url('/media/images/bg-01.jpg');
				width: 450px;height: 300px;margin-top: 50px !important;border-radius: 4px;">
				</div>
			</div>
		</div>
	      </div>
           </div>
          </div>
        </div>
      </div>
      </div>
  </section>
  </div>
  <div></div>

{% include 'crowdusers/fragments/footer-index.html' %}
{% endblock %}
