<!DOCTYPE html>
<html lang="en">
<head>
<title>{% block title %} Crowdsourcing for Rural Urban Areas {% endblock %}</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% load static %}
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'crowdusers/styles/s-a/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'crowdusers/styles/s-a/font-awesome.min.css' %}">
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'crowdusers/styles/dropzone.css' %}">
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'crowdusers/styles/login-ui.css' %}">

<!-- SmartAdmin Styles : Caution! DO NOT change the order -->
<!-- <link rel="stylesheet" type="text/css" media="screen" th:href="@{/styles/s-a/smartadmin-production-plugins.min.css"> -->
<link rel="stylesheet" type="text/css" media="screen" href="{% static 'crowdusers/styles/s-a/smartadmin-production.min.css' %}">

<!-- <link rel="stylesheet" type="text/css" media="screen" th:href="@{/styles/s-a/custom-css.css}"> -->
<link href="{% static 'crowdusers/styles/layou.css' %}" rel="stylesheet" type="text/css"	media="all">
</head>
<body id="top">

{% block content %} {% endblock %}

</body>
</html>