<div class="footer">
    <br/>
  <p class="text-center">Copyright &copy 2020 - Crowdsourcing for Rural Urban Areas</p>
</div>
    {% load static %}
	<!-- JAVASCRIPTS -->
	<script src="{% static 'crowdusers/scripts/plugin/app.config.js' %}"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
		if (!window.jQuery.ui) {
			document
					.write('<script src="{% static 'crowdusers/scripts/jquery.min.js' %}"><\/script>');
		}
	</script>
	<script	src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script>
		if (!window.jQuery.ui) {
			document
					.write('<script src="{% static 'crowdusers/scripts/jquery.min.js' %}"><\/script>');
		}
	</script>
	<script src="{% static 'crowdusers/scripts/plugin/bootstrap.min.js' %}"></script>
	<script src="{% static 'crowdusers/scripts/plugin/dropzone.js' %}"></script>
	<script src="{% static 'crowdusers/scripts/plugin/jarvis.widget.min.js' %}"></script>
	<script src="{% static 'crowdusers/scripts/login-ui.js' %}"></script>

	<!-- PAGE RELATED PLUGIN(S) -->
	<script src="{% static 'crowdusers/scripts/plugin/jquery.validate.min.js' %}"></script>
	<script src="{% static 'crowdusers/scripts/plugin/app.min.js' %}"></script>
	<script src="{% static 'crowdusers/scripts/plugin/jquery.bootstrap.wizard.min.js' %}"></script>
	<script src="{% static 'crowdusers/scripts/plugin/wizard.min.js' %}"></script>