<div class="row" role="navigation">
<article class="col-sm-12">
<nav class="navbar navbar-default navbar-inverse fixed-top" style="padding: .5rem 1rem !important;background-color: #343a40 !important;">
  <a class="navbar-brand text-info" href="{% url 'crowdusers:index' %}" style="color: #117a8b !important;">C.S.F.R.U.A</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav text-info" style="flex-direction: row !important;font-size: 1.7rem !important;font-weight: 400 !important;
    line-height: 0.8 !important;text-align: left !important;padding-right: 8.5rem; !important;font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serifApple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;">
      <a class="nav-item nav-link {% if features %} active {% endif %}" href="{% url 'crowdusers:index' %}" style="color: rgba(255,255,255,.5) !important; padding-right: .5rem !important;
padding-left: .5rem !important;">Features <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link {% if deployment %} active {% endif %}" href="{% url 'crowdusers:deployment' %}" style="color: rgba(255,255,255,.5) !important; padding-right: .5rem !important;
padding-left: .5rem !important;">Discover deployments</a>
      <a class="nav-item nav-link {% if about %} active {% endif %}" href="{% url 'crowdusers:about' %}" style="color: rgba(255,255,255,.5) !important; padding-right: .5rem !important;
padding-left: .5rem !important;">About</a>
      <a class="nav-item nav-link {% if contact %} active {% endif %}" href="{% url 'crowdusers:contact' %}" style="color: rgba(255,255,255,.5) !important; padding-right: .5rem !important;
padding-left: .5rem !important;">Contact Us</a>
      <a class="nav-item nav-link" href="{% url 'login' %}" style="color: rgba(255,255,255,.5) !important; padding-right: .5rem !important;
padding-left: .5rem !important;">Login</a>
    </div>

{% comment %}   <div class="collapse navbar-collapse" id="navbarCollapse">
  <ul class="navbar-nav navbar-right">
      {% if not request.user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'login' %}">Login</a>
    </li>
    {% endif  %}
      {% if request.user.is_authenticated %}
      <li class="nav-item">
     <a class="nav-item nav-link" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i></a>
    </li>
      {% endif %}
  </ul>
</div>{% endcomment %}
  </div>
  </nav>

</article>
</div>