{% extends 'crowdusers/fragments/base-index.html' %}
{% block title %} Crowdsourcing for Rural Urban Areas - About Us {% endblock %}

{% block content %}

<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- Top Background Image Wrapper -->
	<div class="bgded overlay"
		style="background-image: url('/crowdusers/static/crowdusers/images/demo/backgrounds/cs_b.jpg');">
		<!-- ################################################################################################ -->
        {% include 'crowdusers/fragments/nav-index.html' %}
		<!-- ################################################################################################ -->
		<!-- ################################################################################################ -->
		<!-- ################################################################################################ -->
		<div id="pageintro" class="hoc clear" style="background-color: inherit;">
			<!-- ################################################################################################ -->
			<div class="col-sm-12 col-lg-12 col-md-12">
              <div class="container">
      <div class="row">
        <div class="col-md-12">
          <hr />

          <hr />
        </div>
      </div>
      <br/><br/>
      <div class="row">
        <div class="col-md-3">

        </div>

        <div class="col-md-9">
          <div class="container">
          <article>
              	<p>The contribution of citizens to the development of every nation cannot be over-emphasized.
                    These contributions are in many forms and the one that most people overlook the most is how individuals act as agents of
                change by reporting challenges in their communities to the appropriate bodies
                    that have been set up for the sole purpose of tackling these issues.</p>
                    <p>This app is to help users fulfill this purpose of
                acting as agents of change by reporting developmental challenges in their communities so that they can be seen by the necessary bodies.
          </p><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
          </article>
          </div>
        </div>
      </div>
       </div>
			</div>
			<!-- ################################################################################################ -->
		</div>
		<!-- ################################################################################################ -->
	</div>
	<!-- End Top Background Image Wrapper -->
	
{% include 'crowdusers/fragments/footer-index.html' %}
{% endblock %}