{% extends 'crowdusers/fragments/base-index.html' %}
{% block title %} Crowdsourcing for Rural Urban Areas - Contact Us {% endblock %}

{% block content %}

<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- Top Background Image Wrapper -->
	<div class="bgded overlay"
		style="background-image: url('/crowdusers/static/crowdusers/images/demo/backgrounds/cs_b.jpg');">
		<!-- ################################################################################################ -->
        {% include 'crowdusers/fragments/nav-index.html' %}
		<!-- ################################################################################################ -->
		<!-- ################################################################################################ -->
		<!-- ################################################################################################ -->
		<div id="pageintro" class="hoc clear" style="background-color: inherit;">
			<!-- ################################################################################################ -->
			<div class="col-sm-12 col-lg-12 col-md-12">
              <div class="container">
      <div class="row">
        <div class="col-md-12">
          <hr />

          <hr />
        </div>
      </div>
      <br/><br/>
      <div class="row">
        <div class="col-md-3">

        </div>

        <div class="col-md-9">
          <div class="container">
          <article>
              	<p>If you’re in the process of writing or revising an “About Us”
					page, the way to start is by figuring out what makes your business
					unique. Is it your story? Your mission? Your employees? Visitors
					and customers aren’t going to be impressed by generic facts and
					figures, so it’s important that your page is not only accurate, but
					also sets you apart from the millions of other businesses online.
					And as the seven very different examples above demonstrate, there’s
					no “right” approach — so feel free to have a little fun with this
					part of your site! If you have any questions about creating an
					“About Us” page, or know of any other great examples, let me know
					in the comments below!</p>
				<p>Our team is made up of award-winning marketers, designers,
					and developers, and we know what it takes to get real results
					online. We also keep the focus on the metrics that mean the most,
					like leads and revenue generated. We know that hitting these goals
					is what moves businesses forward, and we believe that our clients'
					success is the best measure of our own performance. Through our
					years of experience, we've also learned that while each channel has
					its own set of advantages, they all work best when strategically
					paired with other channels. That's why we offer full-service
					strategies to each of our clients, and use a combination of digital
					channels to increase visibility, conversions, and revenue. As a
					result, we've driven over $700 million in sales and over 3 million
					leads for our clients. We've also built the most connected media
					team in the industry, with over 40 in-house influencers dedicated
					to building relationships and earning publication on prominent
					websites.</p>
          </article>
          </div>
        </div>
      </div>
       </div>
			</div>
			<!-- ################################################################################################ -->
		</div>
		<!-- ################################################################################################ -->
	</div>
	<!-- End Top Background Image Wrapper -->

{% include 'crowdusers/fragments/footer-index.html' %}
{% endblock %}