{% extends 'crowdusers/fragments/base-index.html' %}
{% block title %} Crowdsourcing for Rural Urban Areas - Home {% endblock %}
{% block content %}
<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- ################################################################################################ -->
	<!-- Top Background Image Wrapper -->
	<div class="bgded overlay"
		style="background-image: url('/crowdusers/static/crowdusers/images/demo/backgrounds/cs_b.jpg');">
		<!-- ################################################################################################ -->
        {% include 'crowdusers/fragments/nav-index.html' %}
		<!-- ################################################################################################ -->
		<!-- ################################################################################################ -->
		<!-- ################################################################################################ -->
		<div id="pageintro" class="hoc clear" style="background-color: inherit;">
			<!-- ################################################################################################ -->
			<div class="col-sm-12 col-lg-12 col-md-12">
              <div class="container">
      <div class="row">
        <div class="col-md-12">
          <hr />
          <hr />
        </div>
      </div>
              {% include 'crowdusers/fragments/messages.html' %}
      <br/><br/>
      <div class="row">
        <div class="col-md-3">
          <ul class="nav nav-tabs left-tabs">
            <li class="nav-item">
              <a class="nav-link active" href="#lorem-left" data-toggle="tab" style="color: grey !important;">Map</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#ipsum-left" data-toggle="tab" style="color: grey !important;">Deployments</a>
            </li>
            <br/>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'signup' %}" style="color: grey !important;">Sign Up</a>
            </li>
          </ul>
        </div>

        <div class="col-md-9">
          <div class="container">
            <div class="tab-content">
              <article class="tab-pane container active" id="lorem-left">
                <h1>Deployment locations</h1><br/>
                <section id="map">

                </section><br/><br/>
              </article>
              <article class="tab-pane container" id="ipsum-left">
                <h1>Deployments</h1>
                <section>
                    <div class="row">
                  <div class="col-5">
                  {% for deployment in deployments %}
                 <div class="card" id="short-dep-description">
                 <a href="#" style="text-decoration: none;">
                  <div class="card-body">
                      <p><span>published </span> <span>by {{ deployment.user.username }}</span></p>
                      <p>
                    <span class="card-subtitle mb-2 text-muted">via {{ deployment.report_platform }}, </span>
                      {% load crowdusers_extras %}
                      <span class="card-subtitle mb-2 text-muted">{{ deployment.report_date|days_since_deployment }}</span>
                      </p>
                      <h3 class="card-title">{{ deployment.report_brief_description }}</h3>
                       {% load admin_extras %}
                      <input type="hidden" value="{{ deployment.report_nature|list_report_nature }}"/>
                      <input type="hidden" value="{{ deployment.id }}"/>
                      <p class="card-text" id="dep-full-desc-1">{{ deployment.report_full_description|truncatewords:15 }}</p>
                  </div>
                 </a>
                </div>
                 <br/>
                  {% endfor %}
                    <div class="row-fluid">
               {% if deployments.has_other_pages %}
                  <ul class="pagination pagination-lg">
                    {% if deployments.has_previous %}
                      <li class="page-item"><a href="?page={{ deployments.previous_page_number }}" class="page-link">Prev</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link"><span>Prev</span></a></li>
                    {% endif %}
                    {% for i in deployments.paginator.page_range %}
                      {% if deployments.number == i %}
                          <li class="page-item active"><a class="page-link"><span>{{ i }} <span class="sr-only">(current)</span></span></a></li>
                      {% else %}
                        <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
                      {% endif %}
                    {% endfor %}
                    {% if deployments.has_next %}
                      <li class="page-item"><a href="?page={{ deployments.next_page_number }}" class="page-link">Next</a></li>
                    {% else %}
                        <li class="page-item disabled"><a class="page-link"><span>Next</span></a></li>
                    {% endif %}
                  </ul>
                  {% endif %}
                  </div>
                  </div>
                  <div class="col-7" id="dep-details">
                   <div class="card row">
                  <div class="card-body">
                      <p><span>published </span> <span>by <i><span class="dep-user"></span></i></span> &nbsp;&nbsp;&nbsp;
                          <a href="#" href="#" data-toggle="modal" data-target="#myModal2" class="btn btn-success btn-sm forward-to-body" aria-pressed="true">
                              <i class="fa-fw fa fa-forward"></i></a>
                          {% load social_share %}
                          &nbsp; {% post_to_facebook 'http://198.22.162.119:8081/' "Share on Facebook" %}</p>
                      <p>
                    <span class="card-subtitle mb-2 text-muted">via <i><span class="dep-platform"></span></i></span>,
                      <span class="card-subtitle mb-2 text-muted"><span class="days-since-deployment"></span> </span>
                      </p>
                      <h6>Title</h6>
                      <h3 class="card-title dep-short-desc"></h3>
                      <p>
                      <h6>Description</h6>
                      <span class="card-text dep-full-desc"></span>
                      </p>
                      <p>
                          <h6>Nature of report/deployment</h6>
                          <span class="dep-nature"></span>
                      </p>
                      <p>
                         <h6>Source of this report/deployment</h6>
                          <span class="dep-source"></span>
                      </p>
                       <p>
                         <h6>How long has/did this report/deployment you are posting about last</h6>
                          <span class="dep-time-frame"></span>
                      </p>
                       <p>
                         <h6>Report/Deployment location</h6>
                         <span class="dep-loc"></span>
                          {% comment %}<div id="dep-location"></div>{% endcomment %}
                      </p>
                       <p>
                         <h6>Report/Deployment date and time</h6>
                          <span class="dep-date-and-time"></span>
                      </p>
                       <p>
                         <h6>Report/Deployment image(s)</h6>
                          <img class="dep-images" width="400" height="170"/>
                      </p><br/><br/>
                  </div>
                </div>
                  </div>
                   </div>
                </section>
              </article>
            </div>
          </div>
        </div>
      </div>
       </div>
			</div>
			<!-- ################################################################################################ -->
		</div>
		<!-- ################################################################################################ -->
	</div>
	<!-- End Top Background Image Wrapper -->
{% include 'crowdusers/fragments/footer-index.html' %}

   <!-- forward indenture modal -->
        <form action="{% url 'crowdusers:forward_report_to_response_body' %}" method="post">
            {% csrf_token %}
     <div class="modal" tabindex="-1" role="dialog" id="myModal2">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Forward this report to a response body</h5>
        <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
           <div class="col-lg-12">
          <div class="form-row">
               <div class="form-group col-md-12">
                   <input type="hidden" name="dep_id" id="dep_id"/>
                  <label for="response_body_mail">Select Response body</label>
                   {{ form.response_bodies }}
            </div>
          </div>
      </div>
      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-success" value="Forward Report"/>
        <button type="button" class="btn btn-danger close-modal" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
   </div>
    </form>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <!-- Popper.JS -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
      integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
      crossorigin="anonymous"
    ></script>
    <!-- Bootstrap JS -->
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
      integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script>
  $(document).ready(function(){

   $("#dep-details").hide();

$("#short-dep-description a").click( function(){

    let dep_pk = $(this).find('input:last').val();
    let dep_nature = $(this).find('input:first').val();
    let image_src = "";

    $.ajax({
       method: 'get',
       url: "{% url 'crowdusers:single_deployment_details' dep_pk=1 %}".replace(/1/, dep_pk.toString()),
       success: function (response) {

           $("#dep-details").show();

          $(".dep-user").text(response.data.user.username);
          $(".dep-short-desc").text(response.data.report_brief_description);
          $(".dep-full-desc").text(response.data.report_full_description);
          $(".dep-nature").text(dep_nature);
          $(".dep-platform").text(response.data.report_platform);
          $(".days-since-deployment").text(response.days_since_deployment);
          $(".dep-source").text(response.data.reporter_background);
          $(".dep-time-frame").text(response.data.report_time_frame);
          $(".dep-loc").text(response.data.deployment_location);
          $(".dep-date-and-time").text(response.data.report_date + ", " + response.data.report_time);

          //_initMap(response.data.latitude, response.data.longitude);
          if(response.images.file===null){
                 image_src = "/media/images/crowdsourcing-img.jpg";
             }else{
                 image_src = response.images.file;
              }
          $(".dep-images").attr("src", image_src);

          $("#dep_id").val(response.data.id);

       },
       error: function (response) {
           //console.log(response["responseJSON"]["error"])
       }
    })

    });
  });
  </script>
{% comment %}<script type="text/javascript">
    function _initMap(latitude, longitude) {
        var currentLocation = {lat: Number(latitude), lng: Number(longitude)};
        var map = new google.maps.Map(document.getElementById('dep-location'), {
            zoom: 8,
            center: currentLocation,
            mapTypeId: 'roadmap'
        });

        var marker = new google.maps.Marker({
										position : currentLocation,
										map : map
									});

    }
 </script>{% endcomment %}
 <script type="text/javascript">
    function initMap() {

     var deployment_locations = [], deployment_locations_arr = [];

     {{deployment_location_details|safe}}.forEach(populateLocationDetails);
            function populateLocationDetails(item, i, array) {
                deployment_locations.push(item);
       }


       for(var i=0;i<deployment_locations.length;i++) {
             deployment_locations_arr.push([{'location': deployment_locations[i].location, 'lat': parseFloat(deployment_locations[i].lat),
                  'lng':parseFloat(deployment_locations[i].lng)}]);
       }


        var _currentLocation = {lat: Number(6.688390), lng: Number(-1.595310)};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 6,
            center: _currentLocation,
            mapTypeId: 'roadmap'
        });

        var infowindow = new google.maps.InfoWindow();

        var marker, i;

     for (i = 0; i < deployment_locations_arr.length; i++){
        marker = new google.maps.Marker({
        position: new google.maps.LatLng(deployment_locations_arr[i][0].lat, deployment_locations_arr[i][0].lng),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(deployment_locations_arr[i][0].location);
          infowindow.open(map, marker);
        }
        })(marker, i));
      }

    }
 </script>
{% comment %} <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtZeGCdqb5KqAG5ROpf1d6oUdAVwzTpyc&callback=_initMap">
   </script>{% endcomment %}
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtZeGCdqb5KqAG5ROpf1d6oUdAVwzTpyc&callback=initMap">
   </script>
{% endblock %}