{% extends 'crowdsourceadmin/fragments/base.html' %}
{% block title %} Admin | Post Comments {% endblock %}

{% block content %}

    <div id="wrapper">

        {% include 'crowdsourceadmin/fragments/top-bar.html' %}

        {% include 'crowdsourceadmin/fragments/left-side-bar.html' %}

       <!-- ============================================================== -->
		<!-- Start right Content here -->
		<!-- ============================================================== -->
		<div class="content-page">
			<!-- Start content -->
			<div class="content">
				<div class="container">

					<!-- Page-Title -->
					<div class="row">
						<div class="col-sm-12">
							<ol class="breadcrumb pull-right">
								<li><a href="#">GhNewsHub</a></li>
                                <li><a href="#">Admin Section</a></li>
                                <li><a href="#">Posts</a></li>
                                <li class="active">Comments</li>
							</ol>
						</div>
					</div>

					<div class="panel">
						<div class="panel-body">
							<div class="row">
								<div class="col-sm-6">
									<div class="m-b-30"></div>
								</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12 table-responsive">
							<form id="frmDisableAccount">
								<table class="table table-bordered table-striped" id="datatable">
									<thead>
										<tr>
											<th>Posted by</th>
											<th>Comment Content</th>
											<th>Date Posted</th>
											<th>Published</th>
                                            <th>Actions</th>
										</tr>
									</thead>
									<tbody>
                                    {% for comment in post_comments %}
										<tr>
                                        <input type="hidden" value="{{ comment.body }}" />
                                        <input type="hidden" value="{{ comment.id }}" />
                                        <input type="hidden" value="{{ comment.post.id }}" />
                                          <td>{{ comment.user.username }}</td>
                                          <td>{{ comment.body|truncatechars:40 }} {% if comment.body|length > 40 %}
                                        <a href="#" class="on-default read-full-comment" data-balloon="Click to read full comment" data-balloon-pos="up">read full comment</a>
                                          {% endif %}</td>
                                            {% load humanize %}
                                          <td>{{ comment.created_date|naturalday }}</td>
                                          <td>{{ comment.is_published }}</td>
                                           <td>
                                         <a href="#" class="on-default update-published-status" data-balloon="Update published status" data-balloon-pos="up"><i class="fa fa-edit"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
									</tbody>
								</table>
								</form>
							</div>
						</div>
					</div>

				</div>
				<!-- container -->

			</div>
			<!-- content -->
        </div>

      </div>

{% include 'crowdsourceadmin/fragments/footer.html' %}
{% include 'crowdsourceadmin/fragments/bootbox-messages.html' %}

<script>
  $(document).ready(function(){
     $('#datatable').dataTable();

 $("#datatable").on('click', '.read-full-comment', function(){

	var currentRow=$(this).closest('tr');
	var full_comment=currentRow.find("input:eq(0)").val();
	var post_id=currentRow.find("input:eq(2)").val();
	var user_name=currentRow.find("td:eq(0)").text();

	// show full comment in modal
	bootBoxMessages(user_name + " wrote:", full_comment,
        "{% url 'crowdsourceadmin:post_comments' post_pk=1%}".replace(/1/, post_id.toString()));

   })

 $("#datatable").on('click', '.update-published-status', function(){

     //negate published status
     function negate_published_status(is_published){
         if(is_published==="True"){
             return "False";
         }else{
             return "True";
         }
     }

	var currentRow=$(this).closest('tr');
	var id=currentRow.find("input:eq(1)").val();
	var post_id=currentRow.find("input:eq(2)").val();
	var user_name=currentRow.find("td:eq(0)").text();
	var published_status=currentRow.find("td:eq(3)").text();

				bootbox.dialog({
						title: "<span style='color: #07689F;'>Update Published Status for " + user_name + "'s comment</span>",
						  size: "medium",
						  message: "Do you really want to change the published status of this comment to " + negate_published_status(published_status),
						  buttons: {
								danger:{
					         		label: "No",
					         		className: "btn-danger"
					         	},
					         	success:{
					         		label: "Yes",
					         		className: "btn-primary",
					         			callback: function(e){
					         	              //Stuff to do when user clicks Yes i.e flag petition body delete flag
					         	              e.preventDefault();
					         	              var token = '{{ csrf_token }}';
					         	             $.ajax({
                                                    headers: {"X-CSRFToken": token},
						         	                method: "POST",
						         	                url: "{% url 'crowdsourceadmin:update_comment_published_status' comment_pk=1 %}".replace(/1/, id.toString()),
						         	                success: function(response){
						         	                   if(response.status==="302"){
                                                         bootBoxMessages("Update success", "Published status for comment has been updated successfully",
                                                             "{% url 'crowdsourceadmin:post_comments' post_pk=1%}".replace(/1/, post_id.toString()));
                                                       }
						         	                }
						         	            });
					         	   }
					         }
					    }
					});

   })
  });
</script>

{% endblock %}