<div class="navbar-fixed-bottom">
<footer class="footer text-right"> &copy 2020 Crowdsourcing for Rural Urban Areas </footer>

		<script>
            var resizefunc = [];
        </script>

    {% load static %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static '/admin/js2/bootbox.min.js' %}"></script>
<script src="{% static '/admin/js2/jquery-blockui/jquery.blockUI.js' %}"></script>
<script src="{% static '/admin/js2/bootstrap.min.js' %}"></script>
<script src="{% static '/admin/js2/page_popups.js' %}"></script>
<script src="{% static '/admin/js2/waves.js' %}"></script>
<script src="{% static '/admin/js2/wow.min.js' %}"></script>
<script src="{% static '/admin/js2/jquery.nicescroll.js' %}"></script>
<script src="{% static '/admin/js2/jquery-detectmobile/detect.js' %}"></script>
<script src="{% static '/admin/js2/fastclick/fastclick.js' %}"></script>
<script src="{% static '/admin/js2/jquery.li-scroller.1.0.js' %}"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@3.1.1/js/froala_editor.pkgd.min.js'></script>
<script>
  new FroalaEditor('textarea#froala-editor')
</script>

<!-- CUSTOM JS --->
<script src="{% static '/admin/js2/jquery.app.js' %}"></script>
<script src="{% static '/admin/js2/jquery.validate.js' %}"></script>
</div>